<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsa.EventMe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bird"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ProfileSettings"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity
            android:name=".CreateEvent"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile_activity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".LoginActivity">
        </activity>

        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity">
        </activity>

        <service
            android:name=".MyFBService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".ReminderBroadcast" />

    </application>

</manifest>